@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Welcome这是Pages->Index.cshtml页面不是Home</h4>
    <ul>
        <li>
            好了咋们生成下项目看编译是否通过，应该是没问题的生成成功；进行到下一步，和上面第3点将的差不多，在vs中右键项目-》在资源管理器中打开文件-》点击src路径文件夹-》找到对应的项目文件夹-》按住键盘Shift+鼠标右键项目文件夹-》选择在此处打开命令窗口，然后分别输入如下命令：
          
        </li>
        <li>  dotnet ef migrations add Initial    dotnet ef database update</li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core </a>.</p>
    <p> <a href="/Home/Index" >Home显示Artical</a></p>
    <p> <a asp-action="Index" asp-controller="Books">Books显示Book</a></p>
    <p> <a href="/api/Articles/"> api/Articles/GetArticle WEBAPI 接口</a></p>
</div>
